header {
  background-color: black;
  color: white;
  text-align: justify;
  padding-left: 100px;
}

#banner {
  background-image: url("./images/moto.jpeg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
}
